h1{
    color:#d90368;
    text-align: center;
    
}

p{
    color: #250902;
    background-color: #eadeda ;
    padding: 15px;
    border: 10px solid #2e294e;
    /*margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10;*/
    margin: auto 50px;
    text-align: center;
}